body {
    font-family: "Poppins", sans-serif;
}

.jumbotron {
    height: 100vh;
    /* background-image: url("https://i.ibb.co/QnHLcSc/angga-kurniawan-Cz-Qa-Fe-SYzc-I-unsplash.jpg"); */
}

.jumborow {
    height: 100vh;
}

.about {
    height: 100vh;
}

.harga {
    height: 100vh;
}
